.player-slider::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background: #7c3aed;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.player-slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.player-slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 9999px;
  background: #7c3aed;
  cursor: pointer;
}
